.crawl{
  -webkit-animation: crawl 4s;
	animation: crawl 4s;
}

.dangle{
  -webkit-animation: dangle 4s;
	animation: dangle 4s;
}

.bling{
  -webkit-animation: bling 4s;
	animation: bling 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes crawl {
  12%, 15%, 18%, 20%{
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
  }
  0%, 100{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  10%, 16%{
    -webkit-transform: translateY(410px);
    transform: translateY(410px);
  }
  14%{
    -webkit-transform: translateY(370px);
    transform: translateY(370px);
  }

  25%{
    height: 100px; -webkit-transform: translateY(400px);
    height: 100px; transform: translateY(400px);
  }
  30%{
    height: 50px; -webkit-transform: translateY(400px);
    height: 50px; transform: translateY(400px);
  }
  35%{
    height: 100px; -webkit-transform: translateY(350px);
    height: 100px; transform: translateY(350px);
  }
  40%{
    height: 50px; -webkit-transform: translateY(350px);
    height: 50px; transform: translateY(350px);
  }
  45%{
    height: 100px; -webkit-transform: translateY(300px);
    height: 100px; transform: translateY(300px);
  }
  50%{
    height: 50px; -webkit-transform: translateY(300px);
    height: 50px; transform: translateY(300px);
  }
  55%{
    height: 100px; -webkit-transform: translateY(250px);
    height: 100px; transform: translateY(250px);
  }
  60%{
    height: 50px; -webkit-transform: translateY(250px);
    height: 50px; transform: translateY(250px);
  }
  65%{
    height: 100px; -webkit-transform: translateY(200px);
    height: 100px; transform: translateY(200px);
  }
  70%{
    height: 50px; -webkit-transform: translateY(200px);
    height: 50px; transform: translateY(200px);
  }
  75%{
    height: 100px; -webkit-transform: translateY(150px);
    height: 100px; transform: translateY(150px);
  }
  80%{
    height: 50px; -webkit-transform: translateY(150px);
    height: 50px; transform: translateY(150px);
  }
  85%{
    height: 100px; -webkit-transform: translateY(100px);
    height: 100px; transform: translateY(100px);
  }
  90%{
    height: 50px; -webkit-transform: translateY(100px);
    height: 50px; transform: translateY(100px);
  }
  95%{
    height: 100px; -webkit-transform: translateY(50px);
    height: 100px; transform: translateY(50px);
  }
}

/* Standard syntax */
@keyframes crawl {
  12%, 15%, 18%, 20%{
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
  }
  0%, 100{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  10%, 16%{
    -webkit-transform: translateY(410px);
    transform: translateY(410px);
  }
  14%{
    -webkit-transform: translateY(370px);
    transform: translateY(370px);
  }

  25%{
    height: 100px; -webkit-transform: translateY(400px);
    height: 100px; transform: translateY(400px);
  }
  30%{
    height: 50px; -webkit-transform: translateY(400px);
    height: 50px; transform: translateY(400px);
  }
  35%{
    height: 100px; -webkit-transform: translateY(350px);
    height: 100px; transform: translateY(350px);
  }
  40%{
    height: 50px; -webkit-transform: translateY(350px);
    height: 50px; transform: translateY(350px);
  }
  45%{
    height: 100px; -webkit-transform: translateY(300px);
    height: 100px; transform: translateY(300px);
  }
  50%{
    height: 50px; -webkit-transform: translateY(300px);
    height: 50px; transform: translateY(300px);
  }
  55%{
    height: 100px; -webkit-transform: translateY(250px);
    height: 100px; transform: translateY(250px);
  }
  60%{
    height: 50px; -webkit-transform: translateY(250px);
    height: 50px; transform: translateY(250px);
  }
  65%{
    height: 100px; -webkit-transform: translateY(200px);
    height: 100px; transform: translateY(200px);
  }
  70%{
    height: 50px; -webkit-transform: translateY(200px);
    height: 50px; transform: translateY(200px);
  }
  75%{
    height: 100px; -webkit-transform: translateY(150px);
    height: 100px; transform: translateY(150px);
  }
  80%{
    height: 50px; -webkit-transform: translateY(150px);
    height: 50px; transform: translateY(150px);
  }
  85%{
    height: 100px; -webkit-transform: translateY(100px);
    height: 100px; transform: translateY(100px);
  }
  90%{
    height: 50px; -webkit-transform: translateY(100px);
    height: 50px; transform: translateY(100px);
  }
  95%{
    height: 100px; -webkit-transform: translateY(50px);
    height: 100px; transform: translateY(50px);
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes dangle {
  0% {
    -webkit-transform: rotate(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    box-shadow: 1px 1px 4px #333;
    z-index: 50;
  }
  10% {
    -webkit-transform: rotate(80deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }
  20% {
    -webkit-transform: rotate(30deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }
  30% {
    -webkit-transform: rotate(60deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(50deg) translateY(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: translateY(1000px);
  }
  75%, 100%{
    -webkit-transform: translateY(0px);
  }
}

/* Standard syntax */
@keyframes dangle {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    transition-timing-function: ease-in-out;
    box-shadow: 1px 1px 4px #333;
    z-index: 50;
  }
  10% {
    transform: rotate(80deg);
    transform-origin: top left;
    transition-timing-function: ease-in-out;
  }
  20% {
    transform: rotate(30deg);
    transform-origin: top left;
    transition-timing-function: ease-in-out;
  }
  30% {
    transform: rotate(60deg);
    transform-origin: top left;
    transition-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(50deg) translateY(0);;
    transform-origin: top left;
    transition-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(1000px);
  }
  75%, 100%{
    transform: translateY(0px);
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bling {
  0% { -webkit-transform: translateY(0); }
  	7% { -webkit-transform: translateY(-50px) scale(0.7); }
  	50% { -webkit-transform: translateY(2000px) scale(0.7);
  		  opacity: 1; }
  	51% { opacity: 0; }
  	52% { -webkit-transform: translateY(-2000px);
  		  opacity: 0; }
  	90% { -webkit-transform: translateY(-100px);
  		  opacity: 1; }
  	100% { -webkit-transform: translateY(0); }
}

/* Standard syntax */
@keyframes bling {
  0% { transform: translateY(0); }
  7% { transform: translateY(-50px) scale(0.7); }
  50% {
    transform: translateY(2000px)
    scale(0.7);
    opacity: 1;
  }
  51% { opacity: 0; }
  52% {
    transform: translateY(-2000px);
  	opacity: 0;
  }
  90% {
    transform: translateY(-100px);
  	opacity: 1;
  }
  100% { transform: translateY(0); }
}
