*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

body{
  text-align: center;

  overflow: hidden;
  /*hide scrollbar when the contents translate over the screen bottom*/
}

.box{
  display: inline-block;
  width: 70px;
  height: 70px;
  cursor: pointer;

  /*margin-right: -4px;*/
  /*Remove the default space 4px between inline-block elements*/

	vertical-align: top;
  /*Default is baseline, so when the element animation change the active element height,
  the parent height will change and other elements will move to align the parent baseline. */
}

.box:hover {
	box-shadow: 0 0 8px #fff;
	z-index: 20;
}

.box1{
  background-color: #d5f4e6;
}

.box2{
  background-color: #80ced6;
}

.box3{
  background-color: #fefbd8;
}

.box4{
  background-color: #618685;
}

.box5{
  background-color: #92a8d1;
}

.box6{
  background-color: #f7cac9;
}

.box7{
  background-color:  #f7786b;
}
