#game_container{
  width: 600px;
}

.path{
  position: relative;
  width: 560px;
  height: 20px;
  background-color: #ffeead;
  float: left;
}

.start{
  width: 20px;
  height: 20px;
}

.end{
  width: 20px;
  height: 20px;
}
