* {
	/*add this to make element's border will not change its width.*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
h1{
	font-family: monospace;
	font-weight: bold;
	text-align: center;
}
p{
	font-family: monospace;
	font-size: 20px;
	color: #669900;
	text-align: center;
}
ol{
	margin: auto;
	width: 45%;
	list-style-position:inside;
	text-align: left;
}
a{
	font-family: monospace;
	font-size: 17px;
}
a:link{
	color: blue;
}
a:visited{
	color: gray;
}
div{
	margin: auto;
	width: 50%;
	/*Center aligning has no effect if the width property is not set (or set to 100%).*/
}
